@use "../abstracts" as *;

:root {
    /*
    * Layout
    *
    */

    --scrollbar-width: 0px;

    --columns: 8;

    --gutter: 12px;
    --pageX: 24px;

    /*
    * Text sizes
    *
    */

    --text-base: 1rem;
    --line-base: 1.25rem;

    --margin: var(--line-base);

    --underline-offset: 0.2em;
    --underline-thickness: 0.05em;

    /*
    * Transitions
    *
    */

    --slide-in: .35s;
}
