@use "../abstracts" as *;

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}


.text-base {
    font-size: var(--text-base);
    line-height: var(--line-base);
    --margin: var(--line-base);
}

/**
 * Prefixed utility classes
 * lg:text-base, md:text-base, sm:text-base, etc.
 */
@each $breakpoint, $value in $breakpoints {
    @include media($breakpoint, 'min') {
        .#{escape($breakpoint)}\:text-base {
            font-size: var(--text-base);
            line-height: var(--line-base);
            --margin: var(--line-base);
        }
    }
}


